wheel
requests
databases
bson
aiosqlite
aiomysql
aiopg
aiomongodel
fastapi==0.62.0
uvicorn==0.13.1
numpy
pandas
pymongo
psycopg2-binary
motor
mongoengine
jinja2
ujson
orjson
passlib[bcrypt]
odmantic
email-validator
