<html>
        <head>
            <title>Surya</title>
        </head>
        <body>
            <h1>Surya Prakash is Special</h1>
            <img src="https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg">
            <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
            <!-- <img src="bmw.jpg" alt="BMW" usemap="#workmap" width="400" height="379">

            <map name="workmap">
                <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
                <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
                <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="coffee.htm">
            </map> -->
            <ul>
                <li><a href="https://www.linkedin.com/in/spkosana/">Linked In</a></li>
                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">https://www.linkedin.com/in/spkosana/</a>
            </ul>
        </body>
</html>