<html>
        <head>
            <meta http-equiv="content-type" content="text/html; charset="UTF-8">
            <title>Surya</title>
        </head>
        <body>
            <h1>Surya Prakash Kosana</h1>
            <img src="images/pythonista.jpg" alt="Pythonista">
            <ul>
                <li><a href="https://www.linkedin.com/in/spkosana/">Linked In</a></li>
                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">https://www.linkedin.com/in/spkosana/</a>
            </ul>
        </body>
</html>